*{
    font-family: "poppins" ,sans-serif;
}
.header{
    background-color: lightgray;
    margin: 0;
    height: 700px;
}
ul{
    display: flex;
    position: relative;
    top: 30px;
    margin-bottom: 100px;
    justify-content: space-between;
    padding: 20px;
}
nav > div >ul >li{
    display: inline-block;
    padding: 30px;
    font-weight: 400;
}
.heading{
    margin-left: 60px;
    width: 310px;
}
#head1{
    font-size: 40px;
    margin-bottom: 15px;
}
#part1{
    color: #6CB840;
}
#part2{
    color: #EAAB1B;
}
#content{
    margin-top: 10px;
    margin-bottom: 25px;
}
#press{
    background-color: #6CB840;
    border: none;
    border-radius: 30px;
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    width: 140px;
    font-size: 15px;
}
.main{
    margin: 50px;
}

#img1{
    float: left;
    display: flex;
    margin-top: 5px;
    width: 600px;
    height: 400px;
}
.content1 h1{
    color: #EAAB1B;
    opacity: 0.6;
    
    
}
.cont-first{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 310px;
    padding-top: 100px;

}





.content2{
    clear: both;
    background-color: rgb(230, 245, 232);
    padding: 30px;
    padding-left: 90px;
}
#head2{
    text-align: center;
}
#part3{
    color: #6CB840;
}
.burger{
    display: flex;
    border: none;
    background-color: white;
    height: 200px;
    width: 180px;
    text-align: center;
    border-bottom-right-radius: 60px;
    padding-left: 100px;
    
}
#img2{
    width: 220px;
    height: 200px;
    position: absolute;
    left:50px;
    object-position: 2px 35px;
    
}
.cont-img > h3{
      text-align: left;
      font-weight: 900;
      padding-left: 2px;
}

