*{
    font-family: "poppins" ,sans-serif;
}
.header{
    background-color: lightgray;
    margin: 0;
    height: 600px;
}
ul{
    display: flex;
    position: relative;
    top: 30px;
    margin-bottom: 100px;
    justify-content: space-between;
    padding: 20px;
}
nav > div >ul >li{
    display: inline-block;
    padding: 30px;
    font-weight: 400;
}